body {
    background: url("https://wallpapercave.com/wp/wp3689062.jpg") no-repeat center center fixed !important; /* Usamos la URL de la imagen con !important */
    background-size: cover !important; /* Hace que la imagen cubra toda la pantalla con !important */
    margin: 0 !important; /* Elimina márgenes por defecto con !important */
    padding: 0 !important; /* Elimina relleno por defecto con !important */
}



h2 {
    color: white !important;
}
p {
    color: white;
}
  